@charset "utf-8";

html,body{height:100%}
body{word-break:keep-all;word-wrap:break-word}
body,div,p,section,nav,footer,article,figure,aside,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,form,fieldset,input,textarea,button,select,span,strong,b,em,a,label{margin:0;padding:0;box-sizing:border-box}
header,footer,section,article,nav,aside{display:block;padding:0;margin:0}
td,th{position:relative;font-weight:400;margin:0;padding:0;word-break:break-all}
body,input,textarea,select{color:#555;font-family:Roboto;font-weight:400;font-size:15px;line-height:1.5}
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.2}
img,fieldset,iframe{border:0;vertical-align:top}
textarea{resize:none}
ul,ol{list-style:none}
em,address{font-style:normal}
input,select{vertical-align:middle}
table{width:100%;border-collapse:separate;empty-cells:show;border-spacing:0}
hr,legend{display:none}
caption{overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:500}
button{margin:0;padding:0;border:0;background:none;cursor:pointer}
label{vertical-align:middle;cursor:pointer}

a{color:inherit;text-decoration:none}
a:hover{text-decoration:none}

[tabindex="-1"]{outline:0}
[tabindex="0"]:focus{outline:1px dashed #e0e0e0}
:before, :after{box-sizing:border-box}

.accessbility{}
.accessbility a{position:fixed;left:0;top:-60px;overflow:hidden;display:block;height:0;width:0;margin-bottom:-1px;text-align:center;white-space:nowrap;color:#fff;text-align:center;z-index:10001;background:#00aeef;font-size:16px;font-weight:bold}
.accessbility a:focus,.accessbility a:active{height:auto;width:100%;;color:#fff;line-height:60px}
.accessbility a:focus,.accessbility a:active{top:0}

/* common */
.hidden,legend{position:absolute;overflow:hidden;margin:-1px;width:1px;height:1px;clip:rect(0 0 0 0)}
.tleft{text-align:left !important}
.tright{text-align:right !important}
.tcenter{text-align:center !important}
.bold{font-weight:bold}
.dimmed{display:none;overflow:hidden;position:fixed;top:0;left:0;width:100%;height:100%;margin:0 !important;background:rgba(0,0,0,0.6);z-index:9998}

.mtS{margin-top:22px!important}
.mtM{margin-top:40px!important}
.mtL{margin-top:80px!important}

.pointColor{display:inline-block;font-weight:400;background:url(../images/common/bg_underline.gif) 0 79% repeat-x}
.rorUp{display:inline-block;color:#e64141}
.rorUp .ico{display:inline-block;width:0;height:0;margin:-3px 2px 0 0;overflow:hidden;text-indent:-9999px;vertical-align:middle;border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:8px solid #e64141}
.rorDw{display:inline-block;color:#2e69df}
.rorDw .ico{display:inline-block;width:0;height:0;margin:-3px 2px 0 0;overflow:hidden;text-indent:-9999px;vertical-align:middle;border-left:4px solid transparent;border-right:4px solid transparent;border-top:8px solid #2e69df}

.icoLabel{display:inline-block;padding:1px 7px 0;color:#737373;font-size:14px;font-weight:500;line-height:21px;border:1px solid #ddd;border-radius:2px}
.icoLabel.salesOn{color:#2c37b5;border-color:#2c37b5}
.icoLabel.salesOff{color:#fff;border-color:#999;background:#999}

/* layout */
.wrap{position:relative;width:100%;min-width:1280px;margin:0 auto}/* 190412 수정 */
.navArea, .footArea{position:relative;width:1200px;margin:0 auto}
.inner{width:1100px;margin:0 auto}

.header{position:absolute;top:0;left:0;width:100%;min-width:1280px;background:#2c2c92 url(../images/common/bg_visual.jpg) 100% 0 repeat-y;z-index:10}
.header.fixed{position:fixed}

.headArea{position:relative;height:100%;border-bottom:1px solid rgba(255,255,255,0.1)}
.headArea .logo{position:absolute;top:24px;left:50%;margin-left:-600px;width:130px;height:25px;background:url(../images/common/logo_header_w.png) no-repeat 0 0;z-index:1}/* 190409 수정 */
.headArea .logo a{display:block;font-size:0;line-height:0;text-indent:-9999px;width:206px;height:32px}
.headArea .engBtn{position:absolute;top:0;left:50%;margin-left:570px;line-height:80px;color:#fff;font-weight:600;z-index:1}/* 190412 수정 */

.headArea .allMenu .inner{width:1200px;padding-left:200px}/* 190412 수정 */
.headArea .allMenu .inner:after{content:'';display:block;clear:both}
.headArea .allMenu li{float:left;padding-left:44px;min-width:67px}/* 190409 수정 */
.headArea .allMenu li a{font-size:18px;color:#fff;line-height:80px;font-weight:600}

.headArea.open{padding-bottom:27px;background:#fff;border-bottom:0;box-shadow:0 0 20px rgba(0,0,0,.3)} 
.headArea.open:before{content:'';display:block;width:100%;position:absolute;top:0;left:0}
.headArea.open .logo{background-image:url(../images/common/logo_header_b.png)}
.headArea.open .engBtn, .headArea.open .allMenu li a{color:#111}
.headArea .allMenu li a:hover{border-bottom:2px solid #fff}
.headArea .allMenu li a.on, .headArea.open .allMenu li a:hover{color:#2c2c92;border-bottom:2px solid #2c2c92}		
		
.container{width:100%;min-width:1200px}/* 190412 수정 */
.nav{position:absolute;top:80px;left:0;width:100%;z-index:9}
.navArea{height:46px;color:#fff;color:rgba(255,255,255,0.5);font-size:14px}
.navArea li{display:inline-block;padding-left:15px;margin-left:11px;line-height:46px;background:url(../images/common/bg_nav.png) 0 50% no-repeat}
.navArea li:first-child{padding-left:0;margin-left:0;background:none}
.navArea li a{display:block}

.footer{position:relative;width:100%;background:#282828}
.footArea:after{content:'';display:block;clear:both}	
.footArea .policyList{float:left;padding:25px 0}
.footArea .familySite{float:right;width:240px;padding:20px 0}
.footArea .frmSelect{width:240px}
.footArea .maskDiv_wddo{top:41px;border-top:1px solid #595a5d}
.footArea .frmSelect .tit, .footArea .maskDiv_wddo, .footArea .frmSelect .overcon{border-color:#595a5d;background:#303135;color:#adadae}
.footArea .frmSelect .tit:after{border-top: 6px solid #98989a}
.footArea .frmSelect .overcon li a:hover, .footArea .selectbox .overcon li a.on{color:#111}
.financeList {clear:both}
.financeList li, address span{display:inline-block;margin:23px 0;font-size:14px;line-height:14px;color:#848486}
.financeList li+li,.footArea address span+span{margin-left:8px;padding-left:8px;border-left:1px solid #595a5d}
.footArea .logo{position:absolute;top:90px;right:0}
.footArea address span{margin:7px 0}
.copyRight{padding-bottom:15px;font-size:14px;color:#848486}

/* form */
:-ms-input-placeholder{color:#999;font-weight:400}
:-moz-placeholder{color:#999;font-weight:400}
::-webkit-input-placeholder{color:#999;font-weight:400}
textarea:placeholder{color:#999;font-weight:400}

input::-ms-clear{display:none}
input[type=password]::-ms-reveal{display:none}
input[type=password]::-ms-reveal{display:none}
input[type=text], input[type=password]{height:50px;padding:8px 13px;font-size:18px;color:#111;border:1px solid #ccc;vertical-align:middle}
input[type=text]:focus, input[type=password]:focus{border-color:#0b6fc6;outline:0}
input[type=text][disabled], input[type=password][disabled]{color:#999;border-color:#ccc;background:#f2f2f2}
input[type=text][readonly], input[type=password][readonly]{color:#111;border-color:#ccc;background:#f2f2f2}
textarea{padding:20px;background:#fff;border:1px solid #ccc;font-size:18px}

.btn_file{position:relative;width:100%;height:50px;padding-right:97px}
.btn_file input[disabled="disabled"]{width:100%;background:#fff}
.btn_file button{position:absolute;top:50%;right:80px;width:24px;height:24px;margin-top:-12px;background:url(../images/contents/btn_file_delete.png) no-repeat 0 0;font-size:0;color:transparent;line-height:0}
.btn_file label{position:absolute;top:0;right:0;width:82px;height:50px;line-height:50px;font-weight:500;text-align:center;border:1px solid #dadada;background:#fff}
.btn_file .fileHidden{opacity:0;width:100px}

.frmSelect{position:relative;display:inline-block;vertical-align:middle;text-align:left}
.frmSelect .tit{overflow:hidden;position:relative;display:block;height:40px;padding:0 30px 0 14px;color:#111;line-height:38px;border:1px solid #ccc;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis;word-wrap:normal;background:#fff}
.frmSelect .tit:after{content:'';display:inline-block;position:absolute;top:50%;right:10px;width:0;height:0;margin-top:-3px;overflow:hidden;text-indent:-9999px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:6px solid #333}
.frmSelect .tit:hover, .frmSelect .tit.on{border-color:#0b6fc6}
.frmSelect .tit.disabled, .selectbox .tit.disabled:focus{border:1px solid #0b6fc6;background:#f3f3f3;cursor:text}
.frmSelect .tit.disabled:after{background-position:0 -58px}
.frmSelect .overcon{overflow:hidden;width:100%;background:#fff}
.frmSelect .overcon li a{overflow:hidden;display:block;height:40px;padding:0 13px;line-height:39px;white-space:nowrap;text-overflow:ellipsis;word-wrap:normal}
.frmSelect .overcon li a:hover, .selectbox .overcon li a.on{background:#f2f2f2}
.frmSelect select{display:none}
.maskDiv_wddo{position:absolute;top:40px;left:0;right:0;padding:5px 0;border:1px solid #ccc;border-top:none;background:#fff;box-sizing:content-box}
.jspContainer{overflow:hidden;position:relative}
.jspPane{position:absolute;left:0 !important}
.jspVerticalBar{position:absolute;top:5px;bottom:5px;right:5px;width:9px}
.jspTrack{position:relative}
.jspDrag{position:relative;left:0px;cursor:pointer;border-radius:10px;background:#999}
.jspCapTop{height:0}
.jspCapBottom{height:0}

.frmButton{display:inline-block;margin:-4px 0 0 -4px;vertical-align:middle}
.frmButton:after{content:'';display:block;clear:both}
.frmButton>span{position:relative;float:left;height:40px;margin:4px 0 0 4px}
.frmButton input{position:absolute;top:0;left:0;width:100%;height:100%}
.frmButton label{position:relative;display:block;min-width:73px;height:40px;padding:0 10px;color:#333;font-weight:500;line-height:38px;text-align:center;border:1px solid #ccc;background:#fff;border-radius:2px}
.frmButton input:checked+label{color:#fff;border-color:#25283d;background:#25283d;z-index:2}
.frmButton input:focus{z-index:2}
.frmButton input:focus+label{outline:1px dotted #25283d;z-index:2}
.frmButton input:disabled + label{color:#b3b3b3;background:#e6e6e6}
.frmButton input[type="checkbox"]+label{text-align:left}
.frmButton input[type="checkbox"]:checked+label{color:#0b6fc6;border-color:#0b6fc6;background:#fff url(../images/common/bg_check.gif) 76px 50% no-repeat}

/* button */
.btnArea{margin-top:80px;text-align:center}
.btnArea .btnXL, .btnArea .btnL{margin:0 3px}
.btnXL, .btnL, .btnM, .btnMI, .btnS, .btnArr{position:relative;display:inline-block;text-align:center;vertical-align:middle}
.btnM:after, .btnMI:after, .btnS:after, .btnArr:after{display:inline-block;margin-top:-3px;vertical-align:middle;background:url(../images/common/spr_button.png) 0 0 no-repeat}
.btnXL{min-width:180px;padding:1px 15px 0;line-height:47px;color:#25283d;font-size:16px;font-weight:500;border:1px solid #25283d}
.btnXL:hover, .btnXL:focus{background:#f2f2f2}
.btnXL:hover:after, .btnXL:focus:after{content:'';position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background:url(../images/common/spr_button.png) 100% 0 no-repeat}
.btnXL.action:hover, .btnXL.action:focus{border-color:#2c2c92!important;background:#2c2c92!important}
.btnL{min-width:130px;padding:1px 15px 0;line-height:43px;color:#111;font-size:16px;font-weight:500;border:1px solid #ccc;border-radius:2px}
.btnM{min-width:64px;padding:1px 15px 0;line-height:37px;color:#333;font-size:16px;font-weight:500;border:1px solid #ccc;border-radius:2px}
.btnM:after{margin-left:10px}
.btnM:hover,.btnM:focus{background:#f2f2f2}
.btnM:disabled, .btnM[aria-disabled="true"]{color:#999;background:#f2f2f2}
.btnMI{position:relative;width:40px;height:40px;border:1px solid #ccc;border-radius:2px;overflow:hidden;text-indent:-9999px}
.btnMI:after{position:absolute;top:50%;left:50%;width:20px;height:20px;margin:-10px 0 0 -10px}
.btnS{padding:1px 10px 0;line-height:29px;color:#737373;font-size:14px;border:1px solid #ccc;border-radius:2px}
.btnS:after{margin-left:6px}
.action{color:#fff!important;border-color:#25283d!important;background:#25283d!important}

.btnIco{font-size:0}
.btnIco:after{margin:0}
.btShare:after{content:'';width:20px;height:20px;background-position:0 -15px}
.btPrint:after{content:'';width:20px;height:20px;background-position:-22px -15px}
.btSch:after{content:'';width:13px;height:13px;background-position:0 0}
.btDown:after{content:'';width:11px;height:12px;background-position:-15px 0}
.btArr:after{content:'';width:6px;height:11px;background-position:-37px 0}

.btnArr{color:#2c3786;font-size:15px;font-weight:500}
.btnArr:after{content:'';width:7px;height:13px;margin-left:8px;background-position:-28px 0}
.btnArr:hover, .btnArr:focus{text-decoration:underline}

/* depth */
.titDep2{margin:80px 0 30px;color:#111;font-size:22px;font-weight:600;line-height:1.2}
.titDep2:first-child, .hidden+.titDep2{margin-top:0}
p.titDep2{font-weight:400}
p.titDep2 strong{font-weight:600}
.titDep3{margin:40px 0 20px;color:#2c2d93;font-size:18px;line-height:1.2}

.txtInfo{margin-top:18px}
.txtInfo:first-child{margin-top:0}

.txtCopy{display:block;padding-top:30px;background:url(../images/contents/bg_marks.png) no-repeat center top;color:#111;font-size:30px;text-align:center}

.txtGuide{margin-top:18px}
.txtGuide>li, p.txtGuide{margin-top:6px;padding-left:19px;color:#737373;font-size:14px}
.txtGuide>li:before, p.txtGuide:before{content:'※';display:inline-block;width:19px;text-align:left;margin:-3px 0 0 -19px}

.listDep1{margin-top:18px}
.listDep1>li, p.listDep1{margin-top:10px;padding-left:9px}
.listDep1>li:first-child{margin-top:0}
.listDep1>li:before, p.listDep1:before{content:'';display:inline-block;width:3px;height:3px;margin:-3px 6px 0 -9px;vertical-align:middle;background:#555}
.listDep1>li>ul, .listDep1>li>p{margin-top:10px!important}
.listDep2{margin-top:18px}
.listDep2>li, p.listDep2{margin-top:6px;padding-left:18px}
.listDep2>li:first-child{margin-top:0}
.listDep2>li:before, p.listDep2:before{content:'';display:inline-block;width:6px;height:1px;margin:-3px 12px 0 -18px;vertical-align:middle;background:#555}

.listNum1{counter-reset:section}
.listNum1 > li{position:relative;margin-bottom:15px;padding-left:15px;color:#555;font-weight:400}
.listNum1 > li:before{content:counter(section)'.' ;counter-increment:section;display:inline-block;vertical-align:middle;width:15px;margin:-3px 0 0 -15px}
.listNum2{counter-reset:section}
.listNum2 > li{position:relative;margin-bottom:15px;padding-left:25px;color:#555;font-weight:400}
.listNum2 > li>em{position:absolute;top:0;left:0;display:inline-block}

.imgArea{margin-top:70px;text-align:center}

/* tab */
.tabCont{display:none}
.tabCont:after{content:'';display:block;clear:both}
.tabCont.on{display:block}

.tabType1{position:relative;margin:80px 0 40px}
.tabType1:first-child{margin-top:0}
.tabType1:after{content:'';display:block;clear:both;border-bottom:1px solid #dadada}
.tabType1>li{float:left;border:1px solid #dadada;margin:0 0 -1px -1px}
.tabType1>li>a{display:block;padding:11px 50px;font-size:18px}
.tabType1>li.on{position:relative;color:#737373;border-top:2px solid #111;border-bottom:1px solid #fff}
.tabType1>li.on>a{padding-top:10px;color:#111;font-weight:500}

/* table */
.tblV, .tblH{margin-top:20px}
.tblV{border-top:1px solid #111}
.tblV tbody th{background:#f8f8f8;color:#111;text-align:left;padding:14px 20px;border:solid #dedede;border-width:0 0 1px 0;vertical-align:top}
.tblV tbody td{color:#333;padding:14px 12px;border:solid #dedede;border-width:0 0 1px 1px}

.tblH{border-top:1px solid #111}
.tblH thead th,.tblH tfoot th{padding:14px 20px;border:solid #dedede;border-width:0 0 1px 1px}
.tblH thead th{background:#f8f8f8;color:#333}
.tblH tbody th, .tblH tfoot th{padding:14px 20px;color:#333}
.tblH tr th:first-child,.tblH tbody tr td:first-child{border-left:0}
.tblH tbody td, .tblH tfoot td{text-align:center;padding:14px 10px;color:#333;border:solid #dedede;border-width:0 0 1px 1px}
.tblH tbody th{border:solid #dedede;border-width:0 0 1px 1px}
.tblH tfoot th, .tblH tfoot td,.tblH .tfoot{background:#fff6e8;color:#2c2d93;font-weight:500}

.lineL{border-left:1px solid #dedede!important}
.spaceL{padding-left:22px!important}
.spaceL:before{content:'';position:absolute;top:-1px;left:-1px;bottom:-1px;width:10px;background:#fff}
.thSort{position:relative;display:inline-block;padding-right:12px}
.thSort:after{content:'';position:absolute;top:50%;right:0;margin-top:-3px;border-left:3px solid transparent;border-right:3px solid transparent;border-top:5px solid #333}
.thSort.invert:after{border-top:0;border-bottom:5px solid #333}

/* tooltip */
.tooltip{position:relative;display:inline-block;padding:0 6px 0 9px;background:#f2f2f2;border-radius:15px;vertical-align:middle}
.tooltip>em{font-size:15px;line-height:30px}
.tooltip .tipOpen{position:relative;display:inline-block;width:18px;height:18px;margin:-2px 0 0 2px;vertical-align:middle}
.tooltip .tipOpen span, .tooltip .btnClose span{position:absolute;overflow:hidden;margin:-1px;width:1px;height:1px;clip:rect(0 0 0 0)}
.tooltip .tipOpen:before{display:block;content:'';width:18px;height:18px;background:url(../images/common/btn_tooltip.png) 0 0 no-repeat}
.tooltip .msg{display:none;position:absolute;top:36px;left:0;width:360px;padding:18px 20px;border:1px solid #555;background:#fff;box-shadow:2px 0px 6px rgba(0,0,0,0.1);z-index:10}
.tooltip .tipOpen.on+.msg{display:block}
.tooltip .tit{display:block;margin-bottom:8px;color:#111}
.tooltip .txt{display:block;font-size:14px;line-height:22px}
.tooltip .btnClose{position:absolute;top:12px;right:12px;width:12px;height:12px}
.tooltip .btnClose:before{display:block;content:'';width:12px;height:12px;background:url(../images/common/btn_tooltip.png) -18px 0 no-repeat}

/* layer popup */
.layerClose{position:absolute;top:30px;right:30px;width:42px;height:42px;overflow:hidden;text-indent:-9999px;background:url(../images/common/btn_close.png) 50% 50% no-repeat}
.layerPop{display:none;position:fixed;left:50%;top:50%;background:#fff;z-index:9999}
.layerPop .layerContainer{position:relative;height:100%;padding-bottom:40px}
.layerPop .layerTit{padding:38px 40px;color:#111;font-size:26px;text-align:center;line-height:1}
.layerPop .layerTit span{display:block;margin-top:17px;font-size:18px;font-weight:400}
.layerPop .layerCont{position:relative;max-height:400px;overflow-y:auto;padding:0 40px}
.layerPop .layerCont>*:first-child{margin-top:0}
.layerPop .layerBtm{position:relative;margin:-39px 40px 0;padding:40px 0;text-align:center;background:#fff}
.layerPop .layerBtm .btnL{margin:0 3px}
.layerPop.layerS{width:540px;margin-left:-270px}

.htmlLayer .layerPop{display:block;top:0}/* html 화면 보기 */
.htmlLayer .dimmed{display:block}

/* window popup */
.pagePop{position:relative;width:100%;padding:40px}
.pagePop .popTit{margin-bottom:40px;color:#111;font-size:26px;text-align:center;line-height:1}
.pagePop .popCont>*:first-child{margin-top:0}

.popCont.popTerms>ul>li{margin-top:10px}
.popCont.popTerms ul li ul li{padding:5px 0 0 25px}

/* board */
.paginate{height:40px;margin-top:40px;text-align:center}
.paginate .arrow{display:inline-block;position:relative;width:38px;height:38px;overflow:hidden;text-indent:-999px;border:1px solid #d9d9d9;background:#fff}
.paginate .arrow:before{content:'';position:absolute;top:50%;left:50%;width:11px;height:11px;margin:-5px 0 0 -5px;background:url(../images/common/btn_paginate.png) 0 0 no-repeat}
.paginate .arrow.prev,.paginate .arrow.end{margin-left:-5px}
.paginate .arrow.prev:before{background-position:0 -11px}
.paginate .arrow.next:before{background-position:0 -22px}
.paginate .arrow.end:before{background-position:0 -33px}
.paginate .num{display:inline-block;margin:0 9px;vertical-align:top}
.paginate .num a{display:inline-block;width:38px;height:38px;margin:0 1px;color:#737373;font-size:16px;font-weight:500;line-height:38px;border:1px solid #d9d9d9}
.paginate .num a.on{color:#fff;border-color:#2c2e92;background:#2c2e92}

/* page top */
.pageTop{position:absolute;left:50%;top:-110px;margin-left:600px;z-index:9}
.pageTop .btnTop{display:block;width:70px;height:70px;overflow:hidden;text-indent:-9999px;background:#25283d url(../images/common/btn_top.png) 50% 50% no-repeat;box-shadow:10px 10px 8px rgba(0,0,0,0.1)}
.pageTop.fixed{position:fixed;top:auto;bottom:40px}

button.swiper-button-disabled{display:none}

/* error */
.errorPage{padding-top:280px;font-size:18px;line-height:1;text-align:center;border-top:1px solid #111}
.errorPage .errorTxt{position:relative;margin-bottom:75px;font:100 30px/50px Roboto;color:#111;text-align:center}
.errorPage .errorTxt:before{content:'';display:block;width:60px;height:60px;margin:0 auto 18px;background:url(../images/common/bg_nodata.png) 0 0 no-repeat}
.errorPage .errorTxt .sTxt{display:block;margin-top:7px;font-size:15px;line-height:25px}

/* loading bar */
.loadingBar{position:absolute;top:50%;left:50%;z-index:9999;margin-top:-23px;margin-left:-15px}

/* 아코디언 */
.tglList{width:370px;box-shadow:10px 10px 20px rgba(0,0,0,0.15)}
.tglList .toggle .togBar{display:block;padding:45px 50px;font-size:18px;font-weight:600;background:#fff}
.tglList .toggle+.toggle .togBar{border-top:1px solid #e7e7e7}
.tglList .toggle .togCon{display:none;padding:0 50px 65px 50px;color:#fff;background:#22223e;line-height:25px}
.tglList .toggle.on .togBar{padding:55px 50px 17px;background:#22223e;font-size:22px;color:#ffe6bc}
.tglList .toggle.on .togBar:after{content:'';display:inline-block;width:6px;height:8px;margin:-4px 0 0 10px;background:url(../images/contents/bg_tog_map.png) no-repeat 0 0;vertical-align:middle}
.tglList .toggle.on .togCon{display:block}